@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CSI Demo";
}

<div>
    <p>Hello World!  This is your test!</p>
<br />
    <br />
    @*<strong>Email me at:  <email mail-to="lee.wisdom"></email></strong>*@
    <strong>Email me at:  <email>lee.wisdom</email></strong>
</div>